td.mdtd, th.mdth {
  border: 1px solid #dddddd;
}

tr.mdtr:nth-child(even) {
  background-color: #f6f8fb;
}

table.mdtable {
	border-collapse: collapse;
}

table.mdtable > thead.mdthead > tr.mdtr > th.mdth {
	text-align: left;
	border-bottom: 1px solid;
}

table.mdtable > thead.mdthead > tr.mdtr > th.mdth,
table.mdtable > thead.mdthead > tr.mdtr > td.mdtd,
table.mdtable > tbody.mdtbody > tr.mdtr > th.mdth,
table.mdtable > tbody.mdtbody > tr.mdtr > td.mdtd {
	padding: 5px 10px;
}

table.mdtable > tbody.mdtbody > tr.mdtr + tr.mdtr > td.mdtd {
	border-top: 1px solid;
}
